{% extends "base.html" %} {% block top_content %} {% include
"components/hook.html" %} {% endblock %} {% block middle_content %}
<div
  class="grid grid-cols-1 lg:grid-cols-12 gap-4 w-full h-full bg-[#d1d0d0] px-4"
>
  <!-- What happen? (Width 2) -->
  <div
    class="lg:col-span-2 h-auto min-h-[200px] lg:h-full min-w-0 overflow-hidden"
  >
    {% include "components/what_happen_text.html" %}
  </div>
  <!-- Viz 01: Heatmap (Width 6) -->
  <div
    class="lg:col-span-6 h-[500px] lg:h-full min-h-0 min-w-0 overflow-hidden"
  >
    {% include "components/heat_map.html" %}
  </div>
  <!-- Viz 02: Higher Edu Attained (Width 4) -->
  <div
    class="lg:col-span-4 h-[500px] lg:h-full min-h-0 min-w-0 overflow-hidden"
  >
    {% include 'components/cause_factor.html' %}
  </div>
</div>
{% endblock %} {% block bottom_content %}
<div class="flex flex-col gap-2 w-full h-full">
  <!-- Dropdowns -->
  <div class="flex-none flex justify-center gap-4">
    {% include "components/dropdowns.html" %}
  </div>

  <!-- Row 2 Grid -->
  <div class="flex-1 min-h-0 grid grid-cols-1 lg:grid-cols-12 gap-4 px-4">
    <!-- Gender Diff Text (Width 2) -->
    <div
      class="lg:col-span-2 h-auto min-h-[200px] lg:h-full min-w-0 overflow-hidden"
    >
      {% include 'components/gender_diff_text.html' %}
    </div>
    <!-- Viz 03: Gender Diff Chart (Width 3) -->
    <div
      class="lg:col-span-3 h-[400px] lg:h-full min-h-0 min-w-0 overflow-hidden"
    >
      {% include 'components/gender_fill.html' %}
    </div>
    <!-- Edu Matters (Width 2) -->
    <div
      class="lg:col-span-2 h-auto min-h-[200px] lg:h-full min-w-0 overflow-hidden flex items-center justify-center"
    >
      {% include 'components/education_text.html' %}
    </div>
    <!-- Viz 04: Edu Diff (Width 5) -->
    <div
      class="lg:col-span-5 h-[400px] lg:h-full min-h-0 min-w-0 overflow-hidden"
    >
      {% include 'components/edu_residence_chart.html' %}
    </div>
  </div>
</div>
{% endblock %}
