<div class="flex h-full w-full max-w-full mx-auto px-4 md:px-0">
  <div
    class="bg-white p-4 md:p-6 mb-8 font-glacial border-2 border-purple-800 w-full"
  >
    <div class="mb-8 border-b-2 border-gray-200 pb-4">
      <h2
        class="text-xl md:text-2xl font-bold text-purple-800 uppercase tracking-wider"
      >
        Violence Acceptance Rate by Education Level
      </h2>
    </div>
    <div class="w-full relative">
      <div id="edu-residence-chart" class="w-full h-[400px]"></div>
    </div>
  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    fetch("/api/edu-residence?t=" + new Date().getTime())
      .then((response) => response.json())
      .then((traces) => {
        if (traces.error) {
          console.error("Error fetching data:", traces.error);
          return;
        }

        const layout = {
          title: {
            text: "VIOLENCE ACCEPTANCE RATE BY EDUCATION & GENDER",
            font: {
              family: "glacial-indifference, sans-serif",
              size: 14,
              color: "#7303c0",
            },
          },
          xaxis: {
            title: {
              text: "Education Level",
              font: {
                family: "glacial-indifference, sans-serif",
                size: 14,
              },
            },
            fixedrange: true,
            showgrid: false,
            zeroline: false,
          },
          yaxis: {
            title: {
              text: "Average acceptance rate (%)",
              font: {
                family: "glacial-indifference, sans-serif",
                size: 14,
              },
            },
            range: [0, 40],
            fixedrange: true,
            showgrid: true,
            gridcolor: "#eee",
            zeroline: false,
          },
          plot_bgcolor: "white",
          paper_bgcolor: "white",
          font: {
            family: "glacial-indifference, sans-serif",
            color: "black",
            size: 14
          },
          legend: { title: { text: "" } },
          margin: { t: 60, r: 20, b: 60, l: 60 },
        };

        const config = {
          displayModeBar: false,
          responsive: true,
        };

        Plotly.newPlot("edu-residence-chart", traces, layout, config);
      })
      .catch((error) => console.error("Error:", error));
  });
</script>
